body {
    font-size: 16px;
    text-align: center;
    text-decoration: solid;
}

h1 {
     font-size: 65px;
     color: orange;
 font-family: sans-serif;
 }

 ul {
     color: rgb(161, 15, 105);
     font-style: italic;
     font-size: 20px;
     line-height: 30px;

 }
 .bg {
     background-color: rgb(0, 0, 0);
 }

 p {
     font-weight: 600;
     font-size: 3em;
 }