h1, p {
    text-align: center;
}

li:hover {
    background: rgb(9, 0, 128);
}

li:active {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li, ol {
    list-style: none;
}